/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #262626;
  color: floralwhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}
.container {
  width: 100%;
  max-height: 100vh;
}
main {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
section {
  padding: 15px 10px;
  border-bottom: 3px solid #404040;
  width: 100%;
}
@media (min-width: 800px) {
  section {
    width: 50%;
  }
  section:nth-child(odd) {
    border-right: 3px solid #404040;
  }
}
section .title {
  font-family: cursive;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 15px;
}
.fg-blueish {
  color: #1f9ad7;
}
.fg-greenish {
  color: #9ebb31;
}
.fg-orangeish {
  color: #ec6a56;
}
.bg-blueish {
  background-color: #197aaa;
}
.bg-greenish {
  background-color: #7c9326;
}
.bg-orangeish {
  background-color: #e74228;
}
.main-header {
  background-image: url('../../assets/depressing.jpg');
  background-size: cover;
  background-position: center 35%;
  height: 50vh;
  font-weight: bold;
  position: relative;
  border-bottom: 3px solid #404040;
}
.main-header > * {
  width: 100%;
}
.main-header > img {
  filter: blur(1px);
  border-radius: 5px;
  max-height: 100vh;
}
.topnav {
  position: absolute;
  top: 15px;
  z-index: 2;
}
.topnav .nav-icon {
  margin-left: 15px;
}
.topnav .nav-icon i {
  transition: 0.5s;
}
.topnav .nav-links {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin-top: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: absolute;
  left: -150px;
  transition: 0.5s;
}
.topnav .nav-links a {
  padding: 10px 5px;
  border-bottom: 1px solid floralwhite;
  transition: 0.2s;
}
.topnav .nav-links a:last-child {
  border-bottom: none;
}
.topnav .nav-links a:hover {
  color: red;
}
.topnav .slide {
  left: 5px;
}
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}
.cta {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 1px 1px 1px #000000;
  position: absolute;
  top: 0;
  padding: 0 25px;
}
.cta > * {
  width: fit-content;
  margin: 8px 0;
}
.cta h2 {
  color: darkcyan;
  font-size: 3rem;
  text-shadow: 1px 1px 1px midnightblue;
  border-top: 1px solid royalblue;
  border-bottom: 1px solid royalblue;
  padding: 5px 0;
}
@media (min-width: 500px) {
  .cta h2 {
    font-size: 4rem;
  }
}
@media (min-width: 800px) {
  .cta h2 {
    font-size: 5rem;
  }
}
.cta p,
.cta button {
  color: lightblue;
  text-shadow: 1px 1px 1px rgba(0, 200, 100, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.8rem;
}
@media (min-width: 500px) {
  .cta p,
  .cta button {
    font-size: 2rem;
  }
}
@media (min-width: 800px) {
  .cta p,
  .cta button {
    font-size: 2.5rem;
  }
}
.cta button {
  color: floralwhite;
  padding: 5px 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  font-variant: small-caps;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  background: linear-gradient(to bottom, rgba(130, 160, 200, 0.8) 0%, rgba(124, 149, 185, 0.8) 100%);
  cursor: pointer;
}
.info {
  background-image: url('../../assets/clouds.jpg');
  background-size: cover;
}
.info .title {
  color: darkgrey;
  transform: rotate(2deg);
}
.info .content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  line-height: 1.25;
  font-variant: small-caps;
  font-weight: bold;
}
.info .content p {
  width: 46%;
  background-color: rgba(10, 10, 10, 0.7);
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.difference {
  background-image: url('../../assets/underwater.jpg');
  background-size: cover;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 800px) {
  .difference {
    height: unset;
  }
}
.difference .wrapper {
  padding: 0 10%;
}
.difference .wrapper .title {
  color: aquamarine;
  transform: rotate(-2deg);
  margin-bottom: 20px;
}
.difference .wrapper .content {
  background-color: rgba(14, 26, 23, 0.7);
  padding: 15px;
  border-radius: 10px;
}
.testimonials {
  background-image: url('../../assets/astronomy.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  min-height: 300px;
}
.testimonials .title {
  color: cornflowerblue;
  animation: wiggle 0.25s linear 1s infinite running;
  margin-bottom: 25px;
}
.testimonials .tabs {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 20px;
  border-radius: 10px;
  background: #e74228;
  background: linear-gradient(90deg, #e74228 0%, #197aaa 50%, #7c9326 100%);
}
@media (min-width: 500px) {
  .testimonials .tabs {
    width: 85%;
  }
}
@media (min-width: 800px) {
  .testimonials .tabs {
    max-width: 600px;
  }
}
.testimonials .tabs > div {
  padding: 10px;
  flex: auto;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonials .tabs .selected {
  transform: scale(1.1);
}
.testimonials .items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}
.testimonials .items > div {
  display: none;
  opacity: 0;
  background: rgba(109, 88, 131, 0.5);
  border: 1px solid darkslateblue;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.25;
}
.testimonials .items > div .location {
  text-align: center;
  margin-bottom: 10px;
}
.testimonials .items .selected {
  display: block;
  opacity: 1;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
footer {
  background-image: url('../../assets/abstract-curves.jpg');
  padding: 25px;
  display: flex;
  justify-content: center;
}
footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
}
footer .contact {
  margin-bottom: 25px;
}
footer .contact address {
  line-height: 1.5;
}
footer .links > a {
  text-decoration: none;
  color: yellow;
}
.easter {
  position: fixed;
  right: -65px;
  bottom: -500px;
  z-index: 1;
}
.shake {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
