body {
  background-color: rgb(5,5,5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

body > a {
  position: absolute;
  top: 15px;
  left: 15px;
  text-decoration: none;
  font-size: 1.2rem;
  color: grey;
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  width: 50%;
}

.member > img {
  border-radius: 10px;
}

.wrap {
  text-align: center;
}

@media (min-width: 800px) {
  .member {
    width: 33%;
  }
}
