.info {
  background-image: url('../../assets/autumn-leaves.jpg');
  background-size: cover;

  .content {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    line-height: 1.25;
    font-variant: small-caps;
    font-weight: bold;

    p {
      width: 46%;
      background-color: rgba(86, 77, 73, 0.8);
      border-radius: 10px;
      margin: 2%;
      padding: 1%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .blueish {
      color: #1f9ad7;
    }

    .greenish {
      color: #9ebb31;
    }

    .orangeish {
      color: #ec6a56;
    }
  }
}
